.wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    min-width: 100px;
    padding: 8px 12px;
    border-radius: 4px;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    border: 1px solid transparent;
    cursor: pointer;

    + .wrapper {
        margin-left: 16px;
    }
}

.primary {
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.bounded {
    color: rgba(22, 24, 35, 0.75);
    border-radius: 9999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: var(--white);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.retangle {
    border-radius: 0;
    color: var(--black);
    background-color: transparent;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.small {
    min-width: 88px;
    padding: 4px 8px;
}

.large {
    min-width: 120px;
    padding: 14px 20px;
}

.content + .icon,
.icon + .content {
    margin-left: 8px;
}
