.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;

    --search-border-radius: 92px;
}

.container {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.search,
.search-result {
    width: 361px;
}

.search {
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    position: relative;
    display: flex;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        background-color: transparent;
        padding-left: 16px;
        font-size: 1.6rem;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--black);
    }

    &::after {
        content: '';
        height: 28px;
        width: 1px;
        position: absolute;
        right: 52px;
        top: 9px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(52px + 16px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    position: absolute;
    right: 0;
    height: 100%;
    width: 52px;
    border-bottom-right-radius: var(--search-border-radius);
    border-top-right-radius: var(--search-border-radius);
    font-size: 1.6rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn {
    min-width: 1px;
    font-size: 2rem;
    padding: 4px 8px;
    margin-left: 24px;
    color: var(--black);
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}
